html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111111;
}

.fps-monitor {
    position: absolute;
    top: 0;
    left: 0;
}
